<h1><%= @track.name %></h1>
<h5>
  from 
  <%= link_to @track.album.title, album_url(@track.album) %> 
  by 
  <%= link_to @track.album.band.name, band_url(@track.album.band) %>
</h5>


<h3>Lyrics</h3>
<%= ugly_lyrics(@track.lyrics) %>

<h3>Notes</h3>
<ul>
<% @track.notes.each do |note| %>
    <li><%= render 'notes/note', note: note %></li>
<% end %>
</ul>
<%= render 'notes/form', track: @track %>

<p>
  <%= link_to "Edit #{@track.name}", edit_track_url(@track) %>
</p>
<p>
  <%= link_to "Back to #{@track.album.title}", album_url(@track.album) %>
</p>