<% action = (album.persisted? ? album_url(album) : albums_url) %>
<% method = (album.persisted? ? "PATCH" : "POST") %>
<% value  = (album.persisted? ? album.attributes : {}) %>
<% band   = (album.persisted? ? album.band_id : nil) %>
<% check  = (album.persisted? ? "checked" : "") %>

<form action="<%= action %>" method="POST">
  <input type="hidden"
         name="_method"
         value="<%= method %>">
  <%= auth_token %>

  <label for="album_title">Title</label><br>
  <input type="text" 
         name="album[title]" 
         value="<%= value["title"] %>"><br>

  <select name="album[band_id]">
    <% Band.all.each do |band| %>
      <option value=<%= "#{band.id}" %> 
              <%= "selected" if band.id == value["band_id"] %>>
        <%= band.name %></option>
      <% end %>
  </select>
  <br>

  Live
  <input type="radio" 
         id="album_live"
         value="true"
         name="album[live]" <%= check if album.live? %>>
  Studio
  <input type="radio" 
         id="album_live"
         value="false"
         name="album[live]" <%= check if !album.live? %>><br>

  <br>
  <input type="submit" value="Submit">
</form>